html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;

}

@keyframes bounce-and-scale {
  from {
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
  to {
    transform: translate3d(0, 20px, 0) scale(1.1, 1);
  }
}

@keyframes change-icon-color {
  0% {
    background: linear-gradient(90deg, #F8D448 0%, #8FC147 48.75%, #31B047 100%);
  }
  100% {
    background: linear-gradient(90deg, #31B047 0%, #8FC147 48.75%, #F8D448 100%);
  }
}

@keyframes change-color {
  0% {
    background:  linear-gradient(90deg, #F8D448 0%, #8FC147 35.21%, #74BC47 60.73%, #5BB847 80.52%, #31B047 100%);
  }
  50%{
    background: linear-gradient(90deg, #8FC147 0%, #74BC47 0.01%, #5BB847 20.83%, #F8D448 50%, #31B047 100%);;
  }
  100% {
    background: linear-gradient(90deg, #31B047 0%, #5BB847 35.21%, #74BC47 60.73% ,#8FC147 80.52%, #F8D448 100%);
  }
}